.sidebar{
	width:300px;
	float: left;
	height:100%;
	background: #000000;
}
ul{
	width: 100%;
	height: 100%;
	background: #3C3C3C;
}
li{
	color: #BDBDBD;
    list-style-type: none;
    background: #3C3C3C;
	height: 40px;
	padding: 10px 20px;
	font-size: 19px;
	line-height: 41px;
	font-family: 'Avenir';
	border: 1px solid #000000;
}
li.active{
	background: #5B5B5B;
	box-shadow: 0 12px 24px 0 rgba(18,18,18,0.4);
	color:#fff;
}